h3 {
    padding: 2em 0 1em 0;
}

div {
    margin-left: 5em;
}


.input_label {
    margin-left: 0;
}

label {
    width: 17em;
    margin: 1em 0em 1em 0em;
}

input,
textArea {
    width: 17em;
    border-radius: 4px;
    border: #234061 1px solid;
}

button {
    float: right;
    width: 5em;
    border-radius: 6px !important;
    border: 2px solid #234061;
    background-color: #80A6D1;
  }
  
button:hover {
    background-color: #3F73AE;
    color: white;
}

form,
table {
    width: 47em;
    border: #234061 2px solid;
    border-radius: 6px !important;
    padding: 3em;
    margin-bottom: 2em;
}

td {
    padding: 0 0 1em 3em;
    
}

th,
.output_title {
    width: 17em;
    padding: 3em;
}

.output_description {
    width: 30em;
}

